@charset "UTF-8";

html
{
    font-family: Calibri, Optima, sans-serif;
    overflow: auto;
}

body
{
    margin: 1em auto;
    max-width: 60em;
    overflow: hidden;
}

aside, article, footer, header, section
{
    display: block;
}

body>article
{
    clear: left;
    float: left;
    max-width: 35em;
    min-width: 20em;
}

section
{
    border-top: 1px solid #CCC;
    margin: 2em 0 1em;
}

p
{
    line-height: 1.4em;
}

a
{
    color: #E00;
}

a[href^="javascript"] img
{
    vertical-align: bottom;
}

.reference
{
    font-size: 1.5em;
    vertical-align: middle;
}

#commenting>p .reference
{
    float: left;
    margin-right: 0.3em;
}

#commenting
{
    border: 1px solid #CCC;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    float: right;
    padding: 0 1em;
    overflow: hidden;
    width: 20em;
}

*+html #commenting
{
    padding: 1em;
}

#commenting textarea
{
    margin-bottom: 1em;
    width: 100%;
}

#commenting article
{
    border-top: 3px dotted #CCC;
    margin: .5em 2px;
    padding: .5em 0;
}

#commenting article header
{
    font-size: 0.8em;
    overflow: hidden;
}

#commenting article p
{
    overflow: hidden;
}

#commenting article p:first-of-type
{
    margin-top: .5em;
}

#commenting article p:last-child
{
    margin-bottom: 0;
}

#commenting article footer
{
    text-align: right;
}

div.vz-feed-box
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: inherit !important;
    padding-right: 1em !important;
    vertical-align: top;
}

div.vz-feed-box .message
{
    color: black;
    font-size: 0.8em;
}
